{{ define "main" }}

<div id="page">
    <main id="main-content" class="content" tabindex="-1">        
        <div class="contain-1120">
            <ul id="breadcrumbs">
                <li><a href="https://buffett.northwestern.edu/index.html">Buffett Home</a></li>
                <li><a href="{{ .Site.BaseURL }}">Living with Plagues</a></li>
                <li class="active">{{ .Params.Title }}</li>
            </ul>
        </div>

        <div class="section hero">
            <!-- note: no section top -->
            <div class="hero-image in-page" style="background: url('/images/{{ .Params.hero }}') no-repeat center / cover">
            </div>
        </div>
       
        <div class="section contain-1120">
                <div class="section-top contain-970">
                    <h2>{{ .Title }}</h2>
                </div>
                <!-- component code here -->
            <div class="feature-two-col">

                {{ range .Pages }}

                <article class="feature-box">
                    <div class="feature-copy">
                        <h3>
                            <a href="{{ .RelPermalink }}">
                                {{ .Title | markdownify }}
                            </a>
                        </h3>
                        <h6>By {{ .Params.author.display_name }}</h6>
                        <p>{{ .Params.author.bio | markdownify }}</p>
                    </div>
                    <a class="button" href="{{ .RelPermalink }}">Read</a>
                </article>

                {{ end }}

            </div>
        </div>
        
    </main>
</div>


{{ end }}