{{ define "main" }}

<div id="page">
    <main id="main-content" class="content" tabindex="-1">        
        <div class="contain-1120">
            <ul id="breadcrumbs">
                <li><a href="https://buffett.northwestern.edu/index.html">Buffett Home</a></li>
                <li><a href="{{ .Site.BaseURL }}">Living with Plagues</a></li>
                <li class="active">{{ .Params.Title }}</li>
            </ul>
        </div>

        <div class="section background-select" style="margin-bottom: 0;">
            <div class="background-select-image" style="background: url('{{ .Params.hero_img_url }}') no-repeat center / cover">
                <div class="contain-780">
                    <h2>{{ .Title }}</h2>
                </div>
            </div>
        </div>
       
        <div class="contain-1120">
            <div class="section" style="text-align: center;">

                <small>
                    Photo credit: <a href="{{ .Params.hero_url }}">"{{ .Params.hero_title }}"</a> 
                    by {{ if .Params.hero_creator_url }}
                    <a href="{{ .Params.hero_creator_url }}">{{ .Params.hero_creator }}</a> 
                    {{ else }}
                    {{ .Params.hero_creator }}
                    {{ end }}, distributed under <a href="{{ .Params.hero_license_url }}">{{ .Params.hero_license }}</a>
                </small>

            </div>

            <div class="section">

                <div class="feature-two-col">

                    {{ range .Pages }}

                        {{ if .IsTranslated }}

                            {{ range .Translations }}

                                {{ if eq .Site.Language.LanguageName "French" }}

                                <article class="feature-box">
                                    <div class="feature-copy">
                                        <h3>
                                            <a href="{{ .RelPermalink }}">
                                                {{ .Title | markdownify }}
                                            </a>
                                        </h3>
                                        <h6>By {{ .Params.author.display_name }}</h6>
                                        <p>{{ .Params.author.bio | markdownify }}</p>
                                        <ul>
                                            <li><a href="/{{ .Section }}/{{ .File.TranslationBaseName }}/">Read the English Translation</a></li>
                                        </ul>
                                    </div>
                                    <a class="button" href="{{ .RelPermalink }}">Read</a>
                                </article>

                                {{ end }}

                            {{ end }}

                        {{ else }}

                        <article class="feature-box">
                            <div class="feature-copy">
                                <h3>
                                    <a href="{{ .RelPermalink }}">
                                        {{ .Title | markdownify }}
                                    </a>
                                </h3>
                                <h6>By {{ .Params.author.display_name }}</h6>
                                <p>{{ .Params.author.bio | markdownify }}</p>
                            </div>
                            <a class="button" href="{{ .RelPermalink }}">Read</a>
                        </article>

                        {{ end }}

                    {{ end }}

                </div>

            </div>

        </div>
        
    </main>
</div>


{{ end }}