{{ define "main" }}
<div id="page">
    <main id="main-content" class="content" tabindex="-1">
        <div class="contain-1120">
            <ul id="breadcrumbs">
                <li><a href="https://buffett.northwestern.edu/index.html">Buffett Home</a></li>
                <li><a href="{{ .Site.BaseURL }}">Living with Plagues</a></li>
                <li><a href="{{ "impressions-and-reflections/" | relLangURL }}">Impressions and Reflections</a></li>
                <li class="active">{{ .Title }}</li>
            </ul>
        </div>
        <div class="section large-feature purple-slashes" style="background: url('https://common.northwestern.edu/v8/css/images/slashes-{{ .Params.bg_img }}-bg.gif') no-repeat center / cover">
            <h2 style="text-align:center">{{ .Title | markdownify }}</h2>
            <div class="large-feature-inner">
                <div class="content-side">
                    {{ if .Params.image }}
                    <img alt="{{ .Page.Params.alt }}" src="/images/{{ .Page.Params.image }}"/>
                    {{ end }}
                    <div class="text">
                        <h5>By {{ .Params.author.display_name }}</h5>
                        <p>{{ .Params.author.bio | markdownify }}</p>
                        <p>Copyright &copy; 2020 {{ .Params.author.display_name }}. Published under a <a href="https://creativecommons.org/licenses/by-nc-nd/4.0/" target="_blank">Creative Commons (CC BY NC ND 4.0) license</a>.</p>
                    </div>
                </div>
                <div class="right-side">
                    <h6 style="text-align: left;">Full-text Options:</h6>
                    <ul>
                        {{ if .IsTranslated }}
                        <li>
                            {{ range .Translations }}
                            <a href="{{ .Permalink }}">{{ .Site.Language.LanguageName }} Translation</a>
                            {{ end}}
                        </li>
                        {{ end }}
                        {{ if eq .Title "An Immodest Proposal" }}
                        <li><a href="/files/weber2.en.pdf">Download PDF</a></li>
                        {{ else }}
                        <li><a href="/files/{{ .File.BaseFileName }}.pdf">Download PDF</a></li>
                        {{ end }}
                        <li>doi: <a href="https://doi.org/{{ .Params.doi }}" target="_blank">{{ .Params.doi }}</a></li>
                    </ul>
                    <a href="https://creativecommons.org/licenses/by-nc-nd/4.0/" target="_blank">
                        <img src="https://licensebuttons.net/l/by-nc-nd/3.0/88x31.png" alt="Published under a Creative Commons Attribution-Non-Commercial-NoDerivatives 4.0 International (CC BY NC ND 4.0) license" title="Creative Commons Attribution-Non-Commercial-NoDerivatives 4.0 International (CC BY NC ND 4.0) license" />
                    </a>
                </div>
            </div>    
        </div>
        <div class="contain-780">
            <div class="section">
                {{ .Content }}
            </div>
        </div>
        <div class="section contain-1120">
            <div class="section-top">
                <h3>More Impressions and Reflections</h3>
            </div>
            {{ partial "related.html" . }}
        </div>
    </main>
</div>

{{ end }}