{{ define "main" }}
<div class="contain-1120">
    <ul id="breadcrumbs">
        <li><a href="https://buffett.northwestern.edu/index.html">Buffett Home</a></li>
        <li><a href="{{ .Site.BaseURL }}">Living with Plagues</a></li>
        <li><a href="{{ "/essays/" | absURL }}">Essays</a></li>
        <li class="active">{{ .Title }}</li>
    </ul>
</div>
<div class="contain-1440">
    <img alt="{{ .Params.hero.alt }}" title="{{ .Params.hero.title }}" src="/images/{{ .Params.hero.src }}">
</div>
<div class="contain-970">
    <div class="section">
        <small>Image credit: <a href="{{ .Params.hero.url }}">{{ .Params.hero.title }}</a> by {{ .Params.hero.creator }}. 

            {{ if .Params.hero.license_url }}
            
            Distributed under <a href="{{ .Params.hero.license_url }}"> {{ .Params.hero.license }}</a>.
        
            {{ else }}

            Courtesy of {{ .Params.hero.creator }}

            {{ end }}

        </small>
    </div>
</div>
<div id="page">
    <main id="main-content" class="content" tabindex="-1">
        <div class="section large-feature purple-slashes" style="background: url('https://common.northwestern.edu/v8/css/images/slashes-grey-bg.gif') no-repeat center / cover">
            <h2 style="text-align: center;">{{ .Title | markdownify }}</h2>
            <div class="large-feature-inner">
                <div class="content-side">
                    {{ if .Params.headshot }}
                    <img alt="{{ .Params.alt }}" src="/images/{{ .Params.headshot }}"/>
                    {{ end }}
                    <div class="text">
                        <h5>By {{ .Params.author.display_name }}</h5>
                        <p>
                            {{ .Params.author.bio }}
                        </p>
                        <h5>Recommended Citation:</h5>
                        <p>
                            {{ .Params.author.family_name }}, {{ .Params.author.given_name }} {{ .Params.author.middle_name }}. "{{ .Title }}", <em><cite>Living with Plagues: New Narratives for a World in Distress</cite></em>, Buffett Institute for Global Affairs, (2020), doi: <a href="https://doi.org/{{ .Params.doi }}" target="_blank">{{ .Params.doi }}</a> 
                        </p>
                    </div>
                </div>
                <div class="right-side">
                    <p>Copyright &copy; 2020 {{ .Params.author.display_name }}. Published under a <a href="https://creativecommons.org/licenses/by-nc-nd/4.0/" target="_blank">Creative Commons (CC BY NC ND 4.0) license</a>.</p>
                    <a href="https://creativecommons.org/licenses/by-nc-nd/4.0/" target="_blank">
                        <img src="https://licensebuttons.net/l/by-nc-nd/3.0/88x31.png" alt="Published under a Creative Commons Attribution-Non-Commercial-NoDerivatives 4.0 International (CC BY NC ND 4.0) license" title="Creative Commons Attribution-Non-Commercial-NoDerivatives 4.0 International (CC BY NC ND 4.0) license" />
                    </a>
                    <h6 style="margin-top: 1em;text-align: left;">Full-text Options:</h6>
                    <ul>
                        {{ if .IsTranslated }}
                        <li>
                            {{ range .Translations }}
                                {{ if eq .Site.Language.LanguageName "French" }}
                                <a href="{{ .Permalink }}">Original version</a>
                                {{ end }}
                                {{ if eq .Site.Language.LanguageName "English" }}
                                <a href="{{ .Permalink }}">English Translation</a>
                                {{ end }}
                            {{ end}}
                        </li>
                        {{ end }}
                        <li><a href="/files/{{ .File.BaseFileName }}.pdf">Download PDF</a></li>
                    </ul>
                </div>
            </div>    
        </div>
        <div class="contain-780">
            <div class="section">
                {{ .Content }}
            </div>
        </div>
        <div class="section contain-1120">
            <div class="section-top">
                <h3>More Essays</h3>
            </div>
            {{ partial "related.html" . }}
        </div>
    </main>
</div>

{{ end }}