<footer>
    <div class="contain-1120">
        <a href="https://www.northwestern.edu">
            <div class="footer-logo">
                <span class="hide-text">Northwestern University</span>
            </div>
        </a>
        <div class="footer-wrap">
            <div class="footer-content contact">
                <h2>Northwestern Buffett Institute for Global Affairs</h2>
                <div class="address">
                    <div class="icon"><span>Address</span></div>
                    <div class="text">
                        <p>1800 Sherman Ave., Suite 3-000<br>Evanston, IL 60201</p>
                    </div>
                </div>
                <div class="phone">
                    <div class="icon"><span>Phone number</span></div>
                    <div class="text">
                        <p>847.467.2770</p>
                    </div>
                </div>
                <div class="email">
                    <div class="icon"><span>Email address</span></div>
                    <div class="text">
                        <p><a href="mailto:buffettinstitute@northwestern.edu">buffettinstitute@northwestern.edu</a></p>
                    </div>
                </div>
            </div>
            <div class="footer-content connect">
                <h2>Connect</h2><a class="social facebook"
                    href="https://www.facebook.com/BuffettInstitute">Facebook</a><a class="social twitter"
                    href="http://www.twitter.com/BuffettInst">Twitter</a><a class="social instagram"
                    href="https://instagram.com/buffettinstitute">Instagram</a><a class="social youtube"
                    href="https://www.youtube.com/channel/UCtFj0-MMBi9dqjIKuHTBUUA">YouTube</a><a class="social we-will"
                    href="http://wewill.northwestern.edu/supportbuffett">We Will</a>
            </div>
            <div class="footer-content links">
                <h2>Quick Links</h2>
                <ul>
                    <li><a href="https://buffett.northwestern.edu/engagment/contact.html">Contact Us</a></li>
                    <li><a href="https://buffett.northwestern.edu/community/index.html">Our Community</a></li>
                    <li><a href="https://buffett.northwestern.edu/research/index.html">Research</a></li>
                    <li><a href="https://buffett.northwestern.edu/globalizing-northwestern/index.html">Globalizing Northwestern</a></li>
                    <li><a href="https://buffett.northwestern.edu/global-learning/index.html">Global Learning</a></li>
                    <li><a href="https://buffett.northwestern.edu/engagement/index.html">Engagement Opportunities</a></li>
                    <li><a href="https://buffett.northwestern.edu/news/index.html">News</a></li>
                </ul>
            </div>
            <div class="footer-content resources">
                <h2>Northwestern Resources</h2>
                <ul>
                    <li><a href="https://www.northwestern.edu/accessibility">Accessibility</a></li>
                    <li><a href="https://www.northwestern.edu/emergency/index.html">Campus Emergency Information</a>
                    </li>
                    <li><a href="https://www.northwestern.edu/hr/careers/">Careers</a></li>
                    <li><a href="https://www.northwestern.edu/contact.html">Contact Northwestern University</a></li>
                    <li><a href="https://policies.northwestern.edu/">University Policies</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div id="footer-bottom">
        <div class="contain-1120">
            <span class="copyright">©
                <script>// <![CDATA[
                    document.write(new Date().getFullYear())
// ]]></script>2020
                Northwestern University</span>
            <ul>
                <li><a href="https://www.facebook.com/NorthwesternU"> <span class="social facebook">Facebook</span>
                        <span class="text">@NorthwesternU</span> </a></li>
                <li><a href="https://www.twitter.com/northwesternu"> <span class="social twitter">Twitter</span> <span
                            class="text">@northweseternu</span> </a></li>
                <li><a href="https://www.instagram.com/northwesternu"> <span class="social instagram">Instagram</span>
                        <span class="text">@northweseternu</span> </a></li>
                <li><a href="https://www.youtube.com/user/NorthwesternU"> <span class="social youtube">YouTube</span>
                        <span class="text">@NorthwesternU</span> </a></li>
                <li><a href="https://www.futurity.org/university/northwestern-university/"> <span
                            class="social futurity">Futurity</span> <span class="text">Futurity</span> </a></li>
                <li><a href="https://news.northwestern.edu/feeds/allStories"> <span class="social rss">RSS</span> <span
                            class="text">RSS Feed</span> </a></li>
            </ul>
            <span class="right"><a href="https://www.northwestern.edu/disclaimer.html">Disclaimer</a></span>
        </div>
    </div>
</footer>