<header>
    <a class="screen-reader-shortcut" href="#main-content">Skip to main content</a>
    <div id="top-bar">
        <div class="contain-1120">
            <div id="left">
                <div id="northwestern"><a href="https://www.northwestern.edu/"
                        title="Northwestern University Home"><span class="hide-label">Northwestern University</span></a>
                </div>
            </div>
            <div aria-label="global links navigation" id="global-links">
                <ul>
                    <li><a href="https://www.northwestern.edu/abroad/" target="_blank">Global Learning Office</a></li>
                    <li><a href="https://www.northwestern.edu/global-safety-security/" target="_blank">Global Safety
                            &amp;
                            Security</a></li>
                    <li><a href="https://www.northwestern.edu/international/" target="_blank">International Student
                            &amp;
                            Scholar Services</a></li>
                </ul>
            </div>
        </div>
    </div>
    <!--
    <div id="quick-links">
        <ul aria-label="quick links navigation">
            <li class="subscribe"><a href="https://buffett.northwestern.edu/news/subscribe.html">Subscribe</a></li>
            <li><a href="https://buffett.northwestern.edu/engagement/event-calendar/covid-19-webinar-series.html">COVID-19 Webinar Series</a></li>
        </ul>
    </div>
    -->
    <div class="contain-1120" id="bottom-bar">
        <div id="site-name">
            <h1><a href="https://buffett.northwestern.edu/index.html" style="border: medium none;"><img
                        alt="Northwestern Buffett Institute for Global Affairs" src="https://buffett.northwestern.edu/images/buffett-logo1.svg"
                        style="height:70px;"></a></h1>
        </div>
    </div>
    <!--stopindex-->
    <div id="mobile-links">
        <a class="mobile-link mobile-nav-link" href="#mobile-nav"><span class="hide-label">Menu</span></a>
        <nav aria-label="main menu" id="mobile-nav" aria-expanded="false" aria-hidden="true" style="display: none;">
            <ul>
                <li><a href="https://buffett.northwestern.edu/community/index.html">Our Community</a><span class="arrow"><a aria-haspopup="true" href="#"
                            role="button"><span>Expand</span>Our Community Submenu</a></span>
                    <ul aria-expanded="false" aria-hidden="true">
                        <li><a href="https://buffett.northwestern.edu/community/our-leadership/index.html">Our Leadership</a><span class="arrow"><a
                                    aria-haspopup="true" href="#" role="button"><span>Expand</span>Our Leadership
                                    Submenu</a></span>
                            <ul aria-expanded="false" aria-hidden="true">
                                <li><a href="https://buffett.northwestern.edu/community/our-leadership/annelise-riles.html">Annelise Riles</a></li>
                                <li><a href="https://buffett.northwestern.edu/community/our-leadership/klaus-weber.html">Klaus Weber </a></li>
                            </ul>
                        </li>
                        <li><a href="https://buffett.northwestern.edu/community/scholars/index.html">Our Scholars</a><span class="arrow"><a
                                    aria-haspopup="true" href="#" role="button"><span>Expand</span>Our Scholars
                                    Submenu</a></span>
                            <ul aria-expanded="false" aria-hidden="true">
                                <li><a href="https://buffett.northwestern.edu/community/scholars/faculty-fellows.html">Faculty Fellows</a></li>
                                <li><a href="https://buffett.northwestern.edu/community/scholars/graduate-fellows-assistants.html">Graduate Fellows &amp;
                                        Assistants</a></li>
                                <li><a href="https://buffett.northwestern.edu/community/scholars/visiting-scholars.html">Current Visiting Scholars</a>
                                </li>
                                <li><a href="https://buffett.northwestern.edu/community/scholars/visiting-professor.html">Visiting Professor of
                                        International
                                        Studies</a></li>
                                <li><a href="https://buffett.northwestern.edu/community/scholars/buffett-affiliates.html">Buffett Affiliates</a></li>
                            </ul>
                        </li>
                        <li><a href="https://buffett.northwestern.edu/community/our-governance/index.html">Our Governance</a><span class="arrow"><a
                                    aria-haspopup="true" href="#" role="button"><span>Expand</span>Our Governance
                                    Submenu</a></span>
                            <ul aria-expanded="false" aria-hidden="true">
                                <li><a href="https://buffett.northwestern.edu/community/our-governance/faculty-advisory-council.html">Faculty Advisory
                                        Council</a></li>
                                <li><a href="https://buffett.northwestern.edu/community/our-governance/global-council.html">Global Council</a></li>
                            </ul>
                        </li>
                        <li><a href="https://buffett.northwestern.edu/community/our-offices/index.html">Our Offices</a></li>
                        <li><a href="https://buffett.northwestern.edu/community/programs-groups/index.html">Programs and Groups</a></li>
                        <li><a href="https://buffett.northwestern.edu/community/student-groups/index.html">Student Groups</a></li>
                    </ul>
                </li>
                <li><a href="research/index.html">Research</a><span class="arrow"><a aria-haspopup="true" href="#"
                            role="button"><span>Expand</span>Research Submenu</a></span>
                    <ul aria-expanded="false" aria-hidden="true">
                        <li><a href="research/idea-dialogues/index.html">Idea Dialogues</a><span class="arrow"><a
                                    aria-haspopup="true" href="#" role="button"><span>Expand</span>Idea Dialogues
                                    Submenu</a></span>
                            <ul aria-expanded="false" aria-hidden="true">
                                <li><a href="research/idea-dialogues/submit-an-idea.html">Submit an Idea for an Idea
                                        Dialogue</a></li>
                            </ul>
                        </li>
                        <li><a href="research/idea-incubation-workshops.html">Idea Incubation Workshop</a></li>
                        <li><a href="research/research-funding-support/index.html">Research Funding &amp;
                                Support</a><span class="arrow"><a aria-haspopup="true" href="#"
                                    role="button"><span>Expand</span>Research Funding
                                    &amp; Support Submenu</a></span>
                            <ul aria-expanded="false" aria-hidden="true">
                                <li><a href="research/research-funding-support/working-group.html">Disproportionate
                                        Impacts of
                                        Environmental Challenges Working Group</a></li>
                            </ul>
                        </li>
                        <li><a href="research/why-incubate/index.html">Why Incubate?</a><span class="arrow"><a
                                    aria-haspopup="true" href="#" role="button"><span>Expand</span>Why Incubate?
                                    Submenu</a></span>
                            <ul aria-expanded="false" aria-hidden="true">
                                <li><a href="research/why-incubate/faculty-stories.html">Faculty Stories</a></li>
                                <li><a href="research/why-incubate/faqs.html">Research FAQs</a></li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <li><a href="globalizing-northwestern/index.html">Globalizing Northwestern</a><span class="arrow"><a
                            aria-haspopup="true" href="#" role="button"><span>Expand</span>Globalizing Northwestern
                            Submenu</a></span>
                    <ul aria-expanded="false" aria-hidden="true">
                        <li><a href="globalizing-northwestern/global-strategy.html">Global Strategic Plan</a></li>
                        <li><a href="globalizing-northwestern/northwestern-global-alliance/index.html">Northwestern
                                Global
                                Alliance</a><span class="arrow"><a aria-haspopup="true" href="#"
                                    role="button"><span>Expand</span>Northwestern Global Alliance Submenu</a></span>
                            <ul aria-expanded="false" aria-hidden="true">
                                <li><a
                                        href="globalizing-northwestern/northwestern-global-alliance/participate-in-alliance-planning.html">Participate
                                        in Alliance Planning</a></li>
                            </ul>
                        </li>
                        <li><a href="globalizing-northwestern/meridian-180/index.html">Meridian 180</a></li>
                        <li><a href="globalizing-northwestern/international-students-scholars/index.html">International
                                Students
                                &amp; Scholars</a></li>
                        <li><a href="globalizing-northwestern/global-safety-security/index.html">Global Safety &amp;
                                Security</a></li>
                    </ul>
                </li>
                <li><a href="global-learning/index.html">Global Learning</a><span class="arrow"><a aria-haspopup="true"
                            href="#" role="button"><span>Expand</span>Global Learning Submenu</a></span>
                    <ul aria-expanded="false" aria-hidden="true">
                        <li><a href="global-learning/global-learning-task-force/index.html">Global Learning Task
                                Force</a></li>
                        <li><a href="global-learning/undergraduate-opportunities.html">Undergraduate Opportunities</a>
                        </li>
                        <li><a href="global-learning/graduate-opportunities.html">Graduate Opportunities</a></li>
                    </ul>
                </li>
                <li><a href="engagement/index.html">Engagement Opportunities</a><span class="arrow"><a
                            aria-haspopup="true" href="#" role="button"><span>Expand</span>Engagement Opportunities
                            Submenu</a></span>
                    <ul aria-expanded="false" aria-hidden="true">
                        <li><a href="engagement/faculty-funding/index.html">Faculty Funding</a><span class="arrow"><a
                                    aria-haspopup="true" href="#" role="button"><span>Expand</span>Faculty Funding
                                    Submenu</a></span>
                            <ul aria-expanded="false" aria-hidden="true">
                                <li><a href="engagement/faculty-funding/partnership-seed-grants/index.html">Global
                                        Connections
                                        Seed Grants</a><span class="arrow"><a aria-haspopup="true" href="#"
                                            role="button"><span>Expand</span>Global Connections Seed Grants
                                            Submenu</a></span>
                                    <ul aria-expanded="false" aria-hidden="true">
                                        <li><a
                                                href="engagement/faculty-funding/partnership-seed-grants/application.html">Northwestern
                                                Buffett Global Connections Seed Grant Application </a></li>
                                    </ul>
                                </li>
                                <li><a href="engagement/faculty-funding/global-humanities-translation-prize.html">Global
                                        Humanities Translation Prize</a></li>
                            </ul>
                        </li>
                        <li><a href="engagement/graduate-student-funding/index.html">Graduate Student Funding</a><span
                                class="arrow"><a aria-haspopup="true" href="#" role="button"><span>Expand</span>Graduate
                                    Student
                                    Funding Submenu</a></span>
                            <ul aria-expanded="false" aria-hidden="true">
                                <li><a
                                        href="engagement/graduate-student-funding/global-impacts-graduate-fellowship-program.html">Global
                                        Impacts Graduate Fellowship Program</a></li>
                                <li><a href="engagement/graduate-student-funding/graduate-fellowships.html">Graduate
                                        Fellowships</a></li>
                                <li><a
                                        href="engagement/graduate-student-funding/dissertation-research-travel-award/index.html">Dissertation
                                        Research Travel Award</a><span class="arrow"><a aria-haspopup="true" href="#"
                                            role="button"><span>Expand</span>Dissertation Research Travel Award
                                            Submenu</a></span>
                                    <ul aria-expanded="false" aria-hidden="true">
                                        <li><a
                                                href="engagement/graduate-student-funding/dissertation-research-travel-award/application.html">Northwestern
                                                Buffett Dissertation Research Travel Award Application</a></li>
                                    </ul>
                                </li>
                                <li><a href="engagement/graduate-student-funding/conference-travel-award/index.html">Conference
                                        Travel Award</a><span class="arrow"><a aria-haspopup="true" href="#"
                                            role="button"><span>Expand</span>Conference Travel Award Submenu</a></span>
                                    <ul aria-expanded="false" aria-hidden="true">
                                        <li><a
                                                href="engagement/graduate-student-funding/conference-travel-award/application.html">Northwestern
                                                Buffett Conference Travel Award Application</a></li>
                                    </ul>
                                </li>
                                <li><a href="engagement/graduate-student-funding/graduate-assistantships1/index.html">Graduate
                                        Assistantships</a><span class="arrow"><a aria-haspopup="true" href="#"
                                            role="button"><span>Expand</span>Graduate Assistantships Submenu</a></span>
                                    <ul aria-expanded="false" aria-hidden="true">
                                        <li><a
                                                href="engagement/graduate-student-funding/graduate-assistantships1/disproportionate-impacts-of-environmental-challenges-working-group-graduate-assistants.html">Disproportionate
                                                Impacts of Environmental Challenges Working Group Graduate
                                                Assistants&nbsp;</a>
                                        </li>
                                        <li><a
                                                href="engagement/graduate-student-funding/graduate-assistantships1/northwestern-buffett-research-team-graduate-assistant.html">Northwestern
                                                Buffett Research Team Graduate Assistant</a></li>
                                        <li><a
                                                href="engagement/graduate-student-funding/graduate-assistantships1/northwestern-buffett-sustainability-graduate-assistant.html">Northwestern
                                                Buffett Sustainability Graduate Assistant</a></li>
                                        <li><a
                                                href="engagement/graduate-student-funding/graduate-assistantships1/after-the-plague-project-graduate-assistantship.html">“Living
                                                with Plagues” Project Graduate Assistantship</a></li>
                                        <li><a
                                                href="engagement/graduate-student-funding/graduate-assistantships1/gender-justice-and-digital-life-global-working-group-graduate-assistant.html">Gender
                                                Justice and Digital Life Global Working Group Graduate Assistant</a>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                        <li><a href="engagement/collaborate/index.html">Collaborative Problem-Solving</a></li>
                        <li><a href="engagement/event-calendar/index.html">Northwestern Buffett Events </a><span
                                class="arrow"><a aria-haspopup="true" href="#"
                                    role="button"><span>Expand</span>Northwestern
                                    Buffett Events Submenu</a></span>
                            <ul aria-expanded="false" aria-hidden="true">
                                <li><a href="engagement/event-calendar/covid-19-webinar-series.html">COVID-19 Webinar
                                        Series</a>
                                </li>
                            </ul>
                        </li>
                        <li><a href="engagement/global-and-civic-engagement-events.html">Global and Civic Engagement
                                Events</a>
                        </li>
                        <li><a href="engagement/contact.html">Contact Us</a></li>
                    </ul>
                </li>
                <li><a href="news/index.html">News</a><span class="arrow"><a aria-haspopup="true" href="#"
                            role="button"><span>Expand</span>News Submenu</a></span>
                    <ul aria-expanded="false" aria-hidden="true">
                        <li><a href="news/subscribe.html">Subscribe</a></li>
                        <li><a href="news/impact.html">Our Impact</a></li>
                        <li><a href="news/past-stories.html">Past Stories</a></li>
                    </ul>
                </li>
            </ul>
            <div id="mobile-nav-bottom">
                <ul id="mobile-nav-bottom-left">
                    <li><a href="https://www.northwestern.edu/abroad/" target="_blank">Global Learning Office</a></li>
                    <li><a href="https://www.northwestern.edu/global-safety-security/" target="_blank">Global Safety
                            &amp;
                            Security</a></li>
                    <li><a href="https://www.northwestern.edu/international/" target="_blank">International Student
                            &amp;
                            Scholar Services</a></li>
                </ul>
                <ul id="mobile-nav-bottom-right">
                    <li><a href="news/subscribe.html">Subscribe</a></li>
                    <li><a href="engagement/event-calendar/covid-19-webinar-series.html">COVID-19 Webinar Series</a>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
    <!--startindex-->
</header>