<head>
    <meta charset="UTF-8">
    <meta content="IE=Edge" http-equiv="X-UA-Compatible">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="//common.northwestern.edu/v8/images/northwestern-thumbnail.jpg" property="og:image">
    <title>{{ .Site.Title }} Buffett Institute of Global Affairs - Northwestern University</title>
    <link href="https://buffett.northwestern.edu/common/css/buffett2020.css" media="screen" rel="stylesheet" type="text/css">
    <link href="https://buffett.northwestern.edu/common/css/print.css" media="print" rel="stylesheet" type="text/css">
    <link href="https://buffett.northwestern.edu/common/css/swiper.css" media="screen" rel="stylesheet" type="text/css">
    <!--[if lt IE 9]>
    <script src="//common.northwestern.edu/v8/js/html5shiv-printshiv.js"></script>
    <![endif]-->   
    <META NAME="ROBOTS" CONTENT="NOINDEX, NOFOLLOW">
</head>