<nav aria-label="main navigation menu" id="top-nav">
    <div class="contain-1120">
        <ul>
            <li><a href="https://buffett.northwestern.edu/community/index.html">Our Community <span class="dropdown-arrow"></span></a>
                <ul aria-label="navigation submenu" class="dropdown-quick-links">
                    <li class="nav-links">
                        <ul>
                            <li><a href="https://buffett.northwestern.edu/community/our-leadership/index.html">Our Leadership</a><span>Meet the leaders
                                    who shape the direction of Northwestern Buffett.</span></li>
                            <li><a href="https://buffett.northwestern.edu/community/scholars/index.html">Our Scholars</a><span>Explore our diverse group
                                    of faculty, visiting scholars, graduate fellows, and affiliates.</span></li>
                            <li><a href="https://buffett.northwestern.edu/community/our-governance/index.html">Our Governance</a><span>Learn about the
                                    governing bodies working to direct Northwestern’s global efforts.</span></li>
                            <li><a href="https://buffett.northwestern.edu/community/our-offices/index.html">Our Offices</a><span>Use our international
                                    program and support offices for global learning, global safety, and international
                                    student and scholar services. </span></li>
                            <li><a href="https://buffett.northwestern.edu/community/programs-groups/index.html">Programs and Groups</a><span>Learn about
                                    our working groups and programs addressing critical global issues. </span></li>
                            <li><a href="https://buffett.northwestern.edu/community/student-groups/index.html">Student Groups</a><span>Make a difference
                                    beyond the university through one of our service-oriented student groups.</span>
                            </li>
                        </ul>
                    </li>
                    <li aria-label="navigation submenu quick links" class="nav-quick-links">
                        <p>Related Links:</p>
                        <ul>
                            <li><a href="https://buffett.northwestern.edu/community/scholars/faculty-fellows.html">Faculty Fellows</a></li>
                            <li><a href="https://buffett.northwestern.edu/community/scholars/graduate-fellows-assistants.html">Graduate Fellows &amp;
                                    Assistants</a></li>
                            <li><a href="https://buffett.northwestern.edu/community/scholars/visiting-scholars.html">Current Visiting Scholars</a></li>
                        </ul>
                    </li>
                </ul>
            </li>
            <li><a href="https://buffett.northwestern.edu/research/index.html">Research <span class="dropdown-arrow"></span></a>
                <ul aria-label="navigation submenu" class="dropdown-quick-links">
                    <li class="nav-links">
                        <ul>
                            <li><a href="https://buffett.northwestern.edu/research/idea-dialogues/index.html">Idea Dialogues</a><span>Discuss a research
                                    topic or question with a diverse group of scholars to feel out prospects for a more
                                    concrete collaborative project.</span></li>
                            <li><a href="https://buffett.northwestern.edu/research/idea-incubation-workshops.html">Idea Incubation
                                    Workshop</a><span>Participate in a weekend intensive to brainstorm a prospective
                                    research project that addresses a global problem. </span></li>
                            <li><a href="https://buffett.northwestern.edu/research/research-funding-support/index.html">Research Funding &amp;
                                    Support</a><span>Access financial and administrative support for research as a
                                    Northwestern Buffett Working Group.</span></li>
                            <li><a href="https://buffett.northwestern.edu/research/why-incubate/index.html">Why Incubate?</a><span>Explore the benefits
                                    of our research model, which fosters intellectual risk-taking and creativity.</span>
                            </li>
                        </ul>
                    </li>
                    <li aria-label="navigation submenu quick links" class="nav-quick-links">
                        <p>Related Links:</p>
                        <ul>
                            <li><a href="https://buffett.northwestern.edu/research/idea-dialogues/submit-an-idea.html">Submit an Idea for an Idea
                                    Dialogue</a></li>
                            <li><a href="https://buffett.northwestern.edu/research/research-funding-support/working-group.html">Disproportionate Impacts
                                    of Environmental Challenges Working Group</a></li>
                            <li><a href="https://buffett.northwestern.edu/research/why-incubate/faqs.html">Research FAQs</a></li>
                        </ul>
                    </li>
                </ul>
            </li>
            <li><a href="https://buffett.northwestern.edu/globalizing-northwestern/index.html">Globalizing Northwestern <span
                        class="dropdown-arrow"></span></a>
                <ul aria-label="navigation submenu" class="dropdown-quick-links">
                    <li class="nav-links">
                        <ul>
                            <li><a href="https://buffett.northwestern.edu/globalizing-northwestern/global-strategy.html">Global Strategic
                                    Plan</a><span>Read about
                                    the university-wide priorities that will help Northwestern become the
                                    standard-bearer of the
                                    global university.</span></li>
                            <li><a href="https://buffett.northwestern.edu/globalizing-northwestern/northwestern-global-alliance/index.html">Northwestern
                                    Global
                                    Alliance</a><span>Learn about the intensive, multi-faceted, equitable relationships
                                    we are
                                    building with select University partners around the world. </span></li>
                            <li><a href="https://buffett.northwestern.edu/globalizing-northwestern/meridian-180/index.html">Meridian 180</a><span>Use
                                    this membership
                                    community and digital platform for multilingual exchange. </span></li>
                            <li><a href="https://buffett.northwestern.edu/globalizing-northwestern/international-students-scholars/index.html">International
                                    Students
                                    &amp; Scholars</a><span>Find services for international students and scholars from
                                    the Office of
                                    International Student and Scholar Services (OISS).</span></li>
                            <li><a href="https://buffett.northwestern.edu/globalizing-northwestern/global-safety-security/index.html">Global Safety &amp;
                                    Security</a><span>Familiarize yourself with the health, safety, and security
                                    measures employed
                                    to support Northwestern community members abroad.</span></li>
                        </ul>
                    </li>
                    <li aria-label="navigation submenu quick links" class="nav-quick-links">
                        <p>Related Links:</p>
                        <ul>
                            <li><a href="https://www.northwestern.edu/global-strategic-plan/index.html">Northwestern
                                    Global
                                    Strategic Planning</a></li>
                            <li><a
                                    href="https://buffett.northwestern.edu/globalizing-northwestern/northwestern-global-alliance/participate-in-alliance-planning.html">Participate
                                    in Alliance Planning</a></li>
                        </ul>
                    </li>
                </ul>
            </li>
            <li><a href="global-learning/index.html">Global Learning <span class="dropdown-arrow"></span></a>
                <ul aria-label="navigation submenu" class="dropdown-quick-links">
                    <li class="nav-links">
                        <ul>
                            <li><a href="global-learning/global-learning-task-force/index.html">Global Learning Task
                                    Force</a><span>Meet the team working working to create new collaborative global
                                    learning initiatives.</span></li>
                            <li><a href="global-learning/undergraduate-opportunities.html">Undergraduate
                                    Opportunities</a><span>Explore opportunities for international travel, including
                                    study abroad, exchange, research, and academic internships.</span></li>
                            <li><a href="global-learning/graduate-opportunities.html">Graduate
                                    Opportunities</a><span>Learn about Northwestern Buffett's travel grants and
                                    international opportunities through individual schools and programs.</span></li>
                        </ul>
                    </li>
                    <li aria-label="navigation submenu quick links" class="nav-quick-links">
                        <p>Related Links:</p>
                        <ul>
                            <li><a href="https://www.northwestern.edu/abroad/">Northwestern Global Learning Office</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </li>
            <li><a href="https://buffett.northwestern.edu/engagement/index.html">Engagement Opportunities <span class="dropdown-arrow"></span></a>
                <ul aria-label="navigation submenu" class="dropdown-quick-links">
                    <li class="nav-links">
                        <ul>
                            <li><a href="https://buffett.northwestern.edu/engagement/faculty-funding/index.html">Faculty Funding</a><span>Find funding
                                    through faculty fellowships, grants to enhance global collaborations, and as part of
                                    our research trajectory.</span></li>
                            <li><a href="https://buffett.northwestern.edu/engagement/graduate-student-funding/index.html">Graduate Student
                                    Funding</a><span>Become a graduate assistant or fellow, or find funding for global
                                    travel for doctoral research. </span></li>
                            <li><a href="https://buffett.northwestern.edu/engagement/collaborate/index.html">Collaborative Problem-Solving</a><span>Join
                                    other faculty to respond to the critical global issues of our time.</span></li>
                            <li><a href="https://buffett.northwestern.edu/engagement/event-calendar/index.html">Northwestern Buffett Events
                                </a><span>Attend our events, such as lectures, symposia, idea dialogues, and
                                    workshops.</span></li>
                            <li><a href="https://buffett.northwestern.edu/engagement/global-and-civic-engagement-events.html">Global and Civic Engagement
                                    Events</a><span>Find Northwestern events related to global or civic
                                    engagement.</span></li>
                            <li><a href="https://buffett.northwestern.edu/engagement/contact.html">Contact Us</a><span>Contact staff from our leadership,
                                    administration, and global teams.</span></li>
                        </ul>
                    </li>
                    <li aria-label="navigation submenu quick links" class="nav-quick-links">
                        <p>Related Links:</p>
                        <ul>
                            <li><a href="https://buffett.northwestern.edu/engagement/event-calendar/covid-19-webinar-series.html">COVID-19 Webinar
                                    Series</a></li>
                            <li><a href="https://buffett.northwestern.edu/engagement/faculty-funding/partnership-seed-grants/index.html">Global
                                    Connections Seed Grants</a></li>
                            <li><a href="https://buffett.northwestern.edu/engagement/faculty-funding/global-humanities-translation-prize.html">Global
                                    Humanities Translation Prize</a></li>
                            <li><a href="https://buffett.northwestern.edu/engagement/graduate-student-funding/graduate-fellowships.html">Graduate
                                    Fellowships</a></li>
                            <li><a href="https://buffett.northwestern.edu/research/research-funding-support/index.html">Research Funding &amp;
                                    Support</a></li>
                        </ul>
                    </li>
                </ul>
            </li>
            <li><a href="https://buffett.northwestern.edu/news/index.html">News <span class="dropdown-arrow"></span></a>
                <ul aria-label="navigation submenu" class="dropdown-quick-links">
                    <li class="nav-links">
                        <ul>
                            <li><a href="https://buffett.northwestern.edu/news/subscribe.html">Subscribe</a><span>Sign up to receive news and events from
                                    Northwestern Buffett straight to your inbox.</span></li>
                            <li><a href="https://buffett.northwestern.edu/news/impact.html">Our Impact</a><span>Explore some of the collaborations and
                                    impactful research facilitated by Northwestern Buffett.</span></li>
                            <li><a href="https://buffett.northwestern.edu/news/past-stories.html">Past Stories</a><span>Read features, interviews and
                                    articles about Northwestern Buffett.</span></li>
                        </ul>
                    </li>
                    <li aria-label="navigation submenu quick links" class="nav-quick-links">
                        <p>Related Links:</p>
                        <ul>
                            <li><a href="https://buffett.northwestern.edu/news/2020/a-message-from-the-executive-director.html">A Message from the
                                    Executive Director</a></li>
                        </ul>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
</nav>