{{ $related := .Site.Pages.Related . | first 2 }}
{{ with $related }}
<div class="feature-two-col">
    {{ range . }}
    <article class="feature-box">
        <div class="feature-copy">
            <h3>
                <a href="{{ .RelPermalink }}">
                    {{ .Title | markdownify }}
                </a>
            </h3>
            <h6>By {{ .Params.author.display_name }}</h6>
            <p>{{ .Params.author.bio | markdownify }}</p>
        </div>
        <a class="button" href="{{ .RelPermalink }}">Read</a>
    </article>
    {{ end }}
</div>
{{ end }}