{{ define "main" }}
    <div id="page">
        <main id="main-content" class="content" tabindex="-1">
            <div class="contain-1120">
                <ul id="breadcrumbs">
                    <li><a href="https://buffett.northwestern.edu/index.html">Buffett Home</a></li>
                    <li><a href="{{ .Site.BaseURL }}">Living with Plagues</a></li>
                </ul>
            </div>
            <div class="section background-select" style="margin-bottom: 0;">
                <div class="background-select-image" style="background: url('https://upload.wikimedia.org/wikipedia/commons/thumb/d/dd/M%C3%BCnster%2C_Hafen%2C_Wolfgang-Borchert-Theater%2C_Graffiti_--_2020_--_8119.jpg/1280px-M%C3%BCnster%2C_Hafen%2C_Wolfgang-Borchert-Theater%2C_Graffiti_--_2020_--_8119.jpg') no-repeat center / cover">
                    <div class="contain-780">
                        <h2>{{ .Site.Title }}</h2>
                    </div>
                </div>
            </div>
            <div class="contain-780">
                <div class="section">
                    <small>Photo credit: "<a href="https://commons.wikimedia.org/wiki/File:M%C3%BCnster,_Hafen,_Wolfgang-Borchert-Theater,_Graffiti_--_2020_--_8119.jpg">Graffiti at Wolfgang Borchert Theater in the port of Münster, North Rhine-Westphalia, Germany</a>", by <a href="https://www.wikidata.org/wiki/Q34788025">Dietmar Rabich</a>, licensed under <a href="https://creativecommons.org/licenses/by-sa/4.0/deed">CC BY-SA 4.0</a></small>
                </div>
                <div class="section">
                    <p>{{ .Params.intro_text }}</p>
                </div>
            </div>
            <div class="section contain-1120">
                <div class="alternate-photo-float">
                    <div class="image-left">
                        <a title="Test for COVID-19 in East Timor by Tadeáš Bednarz" href="/impressions-and-reflections/" target="_blank">
                            <img src="/images/impressions-and-reflections.jpg" />
                        </a>
                    </div>
                    <div class="text">
                        <h3><a href="/impressions-and-reflections/">Part I: Impressions and Reflections</a></h3>
                        <p>“Impressions and Reflections” offers short essays relating life in the pandemic in a number of sites across the world.</p>
                        <p class="arrow-link"><a aria-label="Read Impressions and Reflections" href="/impressions-and-reflections/">Read Impressions and Reflections</a></p>
                    </div>
                </div>
                <div class="alternate-photo-float">
                    <div class="text">
                        <h3><a href="/essays/">Part II: Essays</a></h3>
                        <p>“Essays” is composed of preliminary efforts to grasp the impact of the pandemic on our understanding of our being in the world.</p>
                        <p class="arrow-link"><a aria-label="Read Essays" href="/essays/">Read Essays</a></p>
                    </div>
                    <div class="image-right">
                        <a title="Woman Sewing a Face Mask by Tadeáš Bednarz" href="https://commons.wikimedia.org/wiki/File:Woman_sewing_a_face_mask_with_a_Singer_machine_05.jpg" target="_blank">
                            <img src="/images/essays.jpg" />
                        </a>                       
                    </div>                    
                </div>
            </div>
            <div class="contain-780" style="margin-bottom:5rem;">
                {{ .Content }}
            </div>
        </main>
    </div>

{{ end }}


