{{ define "main" }}
    <div id="page">
        <main id="main-content" class="content" tabindex="-1">
            <div class="contain-1120">
                <ul id="breadcrumbs">
                    <li><a href="https://buffett.northwestern.edu/index.html">Buffett Home</a></li>
                    <li><a href="{{ .Site.BaseURL }}">Living with Plagues</a></li>
                </ul>
            </div>
            <div class="section background-select">
                <div class="background-select-image" style="background: url('https://buffett.northwestern.edu/common/css/images/world-map-bg.jpg') no-repeat center / cover">
                    <div class="contain-780">
                        <h2>{{ .Site.Title }}</h2>
                        <a class="button" href="/essays/">Browse Essays</a>
                    </div>
                </div>
            </div>
            <div class="section">
                <div class="contain-970">
                    <h4>About This Collaboration</h4>
                    {{ .Content }}
                </div>
            </div>
            <div class="contain-1440 section">
                <div class="section-top">
                    <h4>Recently Published</h4>
                </div>
                <div class="photo-feature-3-across">
                    <article class="photo-feature">
                        <a href="/essays/adler/" style="border: medium none;">
                            <img
                                alt="faculty conversations" src="https://picsum.photos/id/121/480/350">
                            <div class="text-over-image">
                                <h4>Between Two Cities</h4>
                                <p class="link">Anthony Curtis Adler</p>
                            </div>
                        </a>
                    </article>
                    <article class="photo-feature"><a href="/essays/vezzani/" style="border: medium none;"><img
                                alt="students in Serbia" src="https://picsum.photos/id/126/480/350">
                            <div class="text-over-image">
                                <h4>Trees, Lungs, and Gender</h4>
                                <p class="link">Cintia Kozonoi Vezzani</p>
                            </div>
                        </a></article>
                    <article class="photo-feature"><a href="/essays/rosenbruck/" style="border: medium none;"><img
                                alt="Armchair Discussion with Bill Burns" src="https://picsum.photos/id/135/480/350">
                            <div class="text-over-image">
                                <h4>Breathing Together: The Fantasy of Total Institutions and the Commonality of Air</h4>
                                <p class="link">Jonas Rosenbrück</p>
                            </div>
                        </a></article>
                </div>
            </div>
            <div class="section">
                <div class="contain-970">
                    <h4>Contact</h4>
                    <p>
                        {{ .Params.contact | markdownify }}
                    </p>
                </div>
            </div>
        </main>
    </div>

{{ end }}


