{{ define "main" }}
<style>
    .landing-page .content h3 {
        font: 30px/1.2em "Akkurat Pro Bold","Arial Black",sans-serif;
        color: #4e2a84;
    }
    blockquote {
        border-top: 4px solid #f0f0f0;
        border-bottom: 4px solid #f0f0f0;
        font: 34px/1.3em "Campton Extra Light","Courier New",sans-serif;
        padding: 0 0 0 2.75rem;
        position: relative;
        color: #4e2a84;
        margin-bottom: 1em;
    }
</style>
<div id="page">
    <main id="main-content" class="content" tabindex="-1">
        <div class="contain-1120">
            <ul id="breadcrumbs">
                <li><a href="https://buffett.northwestern.edu/index.html">Buffett Home</a></li>
                <li><a href="{{ .Site.BaseURL }}">Living with Plagues</a></li>
                <li><a href="{{ "thoughts/" | relLangURL }}">Thoughts</a></li>
                <li class="active">{{ .Title }}</li>
            </ul>
        </div>
        <div class="section large-feature purple-slashes" style="background: url('https://common.northwestern.edu/v8/css/images/slashes-{{ .Params.bg_img }}-bg.gif') no-repeat center / cover">
            <h2 style="text-align:center">{{ .Title | markdownify }}</h2>
            <div class="large-feature-inner">
                <div class="content-side">
                    <div class="text">
                        <h5>By {{ .Params.author.display_name }}</h5>
                        <p>{{ .Params.author.bio | markdownify }}</p>
                        <ul>
                            <li>DOI: <a href="https://doi.org/{{ .Params.doi }}" target="_blank">{{ .Params.doi }}</a></li>
                            <li><a href="/files/{{ .File.BaseFileName }}.pdf">Download PDF</a></li>
                            {{ if .IsTranslated }}
                                <li>
                                {{ range .Translations }}
                                    <a href="{{ .Permalink }}">Read {{ .Site.Language.LanguageName }} Translation</a>
                                {{ end}}
                                </li>
                            {{ end }}
                        </ul>
                    </div>
                </div>
                <div class="right-side">
                    <p>Copyright &copy; 2020 {{ .Params.author.display_name }}. Published under a <a href="https://creativecommons.org/licenses/by-nc-nd/4.0/" target="_blank">Creative Commons (CC BY NC ND 4.0) license</a>.</p>
                    <a href="https://creativecommons.org/licenses/by-nc-nd/4.0/" target="_blank">
                        <img src="https://licensebuttons.net/l/by-nc-nd/3.0/88x31.png" alt="Published under a Creative Commons Attribution-Non-Commercial-NoDerivatives 4.0 International (CC BY NC ND 4.0) license" title="Creative Commons Attribution-Non-Commercial-NoDerivatives 4.0 International (CC BY NC ND 4.0) license" />
                    </a>
                </div>
            </div>    
        </div>
        <div class="contain-780">
            <div class="section">
                {{ .Content }}
            </div>
        </div>
        <div class="section contain-1120">
            <div class="section-top">
                <h3>More Essays</h3>
            </div>
            <div class="feature-two-col">
                <article class="feature-box">
                    <img alt="image description" src="https://picsum.photos/id/1003/550/310"/>
                    <div class="feature-copy">
                        <h4>Title</h4>
                        <p>Paragraph content. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                    </div>
                    <a class="button" href="#">Read</a>
                </article>
                <article class="feature-box">
                    <img alt="image description" src="https://picsum.photos/id/1019/550/310"/>
                    <div class="feature-copy">
                        <h4>Title</h4>
                        <p>Paragraph content. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                    </div>
                    <a class="button" href="#">Read</a>
                </article>
            </div>
        </div>
    </main>
</div>

{{ end }}